{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">

    </style>
  </head>
  <body>
    <h1>SharePi</h1>
    <p>
      SharePi adalah aplikasi yang terbenam pada Raspberry Pi untuk berbagi konten pada satu jaringan
      LAN.
    </p>
    {% if file %}
    <p>Untuk memasuki web, scan QR Code dibawah ini ke device</p>
    <img src="{% static 'images/qrcode.png' %}">
    {% else %}
    <a href="{% url 'web:file_form' %}">Klik</a> untuk mulai berbagi
    {% endif %}
    
  </body>
</html>
