<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">

    </style>
  </head>
  <body>
    <h1>Hello, Raspberry Pi!</h1>
    <div class="table">
      <div>
        <div ><p>Name</p></div>
        <div><p>Uploaded at</p></div>
        <div><p>Size</p></div>
        <div><p>Description</p></div>
      </div>
      <div >
        <div><p>file</p></div>
      </div>
      <div>
        <div>
          <p>file 2</p>
        </div>
      </div>
      
    </div>
  </body>
</html>
